In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
from sklearn.feature_selection import RFE
from sklearn.tree import DecisionTreeClassifier
from sklearn.linear_model import LogisticRegression
from sklearn import preprocessing
le = preprocessing.LabelEncoder()

In [2]:
raw_data= pd.read_csv("train.csv")
raw_data

,id,circle_id,loc_og_t2o_mou,std_og_t2o_mou,loc_ic_t2o_mou,last_date_of_month_6,last_date_of_month_7,last_date_of_month_8,arpu_6,arpu_7,...,sachet_3g_7,sachet_3g_8,fb_user_6,fb_user_7,fb_user_8,aon,aug_vbc_3g,jul_vbc_3g,jun_vbc_3g,churn_probability
0,0,109,0.0,0.0,0.0,6/30/2014,7/31/2014,8/31/2014,31.277,87.009,...,0,0,NaN,NaN,NaN,1958,0.00,0.00,0.00,0
1,1,109,0.0,0.0,0.0,6/30/2014,7/31/2014,8/31/2014,0.000,122.787,...,0,0,NaN,1.0,NaN,710,0.00,0.00,0.00,0
2,2,109,0.0,0.0,0.0,6/30/2014,7/31/2014,8/31/2014,60.806,103.176,...,0,0,NaN,NaN,NaN,882,0.00,0.00,0.00,0
3,3,109,0.0,0.0,0.0,6/30/2014,7/31/2014,8/31/2014,156.362,205.260,...,0,0,NaN,NaN,NaN,982,0.00,0.00,0.00,0
4,4,109,0.0,0.0,0.0,6/30/2014,7/31/2014,8/31/2014,240.708,128.191,...,1,0,1.0,1.0,1.0,647,0.00,0.00,0.00,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
69994,69994,109,0.0,0.0,0.0,6/30/2014,7/31/2014,8/31/2014,15.760,410.924,...,1,0,NaN,1.0,1.0,221,0.00,0.00,0.00,0
69995,69995,109,0.0,0.0,0.0,6/30/2014,7/31/2014,8/31/2014,160.083,289.129,...,0,0,NaN,NaN,NaN,712,0.00,0.00,0.00,0
69996,69996,109,0.0,0.0,0.0,6/30/2014,7/31/2014,8/31/2014,372.088,258.374,...,0,0,NaN,NaN,NaN,879,0.00,0.00,0.00,0
69997,69997,109,0.0,0.0,0.0,6/30/2014,7/31/2014,8/31/2014,238.575,245.414,...,0,0,1.0,1.0,1.0,277,664.25,1402.96,990.97,0
69998,69998,109,0.0,0.0,0.0,6/30/2014,7/31/2014,8/31/2014,168.269,42.815,...,0,0,1.0,NaN,1.0,1876,0.00,0.00,0.00,0

In [7]:
cols =["circle_id","loc_og_t2o_mou","std_og_t2o_mou","loc_ic_t2o_mou","std_og_t2c_mou_6","std_og_t2c_mou_7","std_og_t2c_mou_8","std_ic_t2o_mou_6","std_ic_t2o_mou_7","std_ic_t2o_mou_8",
      "fb_user_6","fb_user_7","fb_user_8","night_pck_user_6","night_pck_user_7","night_pck_user_8","arpu_3g_6","arpu_3g_7","arpu_3g_8","arpu_2g_6","arpu_2g_7","arpu_2g_8",
      "av_rech_amt_data_8","av_rech_amt_data_7","av_rech_amt_data_6","count_rech_3g_8","count_rech_3g_7","count_rech_3g_6","count_rech_2g_8","count_rech_2g_7","count_rech_2g_6",
      "max_rech_data_8","max_rech_data_7","max_rech_data_6","total_rech_data_8","total_rech_data_7","total_rech_data_6","date_of_last_rech_data_8","date_of_last_rech_data_7","date_of_last_rech_data_6",
      "last_date_of_month_6", "last_date_of_month_7", "last_date_of_month_8", "id", "date_of_last_rech_6", "date_of_last_rech_7", "date_of_last_rech_8"]

In [8]:
len(cols)

47

In [9]:
data= raw_data.loc[:, ~raw_data.columns.isin(cols)]
data

,arpu_6,arpu_7,arpu_8,onnet_mou_6,onnet_mou_7,onnet_mou_8,offnet_mou_6,offnet_mou_7,offnet_mou_8,roam_ic_mou_6,...,monthly_3g_7,monthly_3g_8,sachet_3g_6,sachet_3g_7,sachet_3g_8,aon,aug_vbc_3g,jul_vbc_3g,jun_vbc_3g,churn_probability
0,31.277,87.009,7.527,48.58,124.38,1.29,32.24,96.68,2.33,0.00,...,0,0,0,0,0,1958,0.00,0.00,0.00,0
1,0.000,122.787,42.953,0.00,0.00,0.00,0.00,25.99,30.89,0.00,...,1,0,0,0,0,710,0.00,0.00,0.00,0
2,60.806,103.176,0.000,0.53,15.93,0.00,53.99,82.05,0.00,0.00,...,0,0,0,0,0,882,0.00,0.00,0.00,0
3,156.362,205.260,111.095,7.26,16.01,0.00,68.76,78.48,50.23,0.00,...,0,0,0,0,0,982,0.00,0.00,0.00,0
4,240.708,128.191,101.565,21.28,4.83,6.13,56.99,38.11,9.63,53.64,...,0,0,0,1,0,647,0.00,0.00,0.00,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
69994,15.760,410.924,329.136,0.00,7.36,10.93,0.00,488.46,381.64,14.96,...,0,0,0,1,0,221,0.00,0.00,0.00,0
69995,160.083,289.129,265.772,116.54,196.46,232.63,49.53,96.28,48.06,0.00,...,0,0,0,0,0,712,0.00,0.00,0.00,0
69996,372.088,258.374,279.782,77.13,68.44,78.44,335.54,227.94,263.84,0.00,...,0,0,0,0,0,879,0.00,0.00,0.00,0
69997,238.575,245.414,145.062,14.01,7.64,6.71,30.34,16.68,12.56,25.06,...,1,1,0,0,0,277,664.25,1402.96,990.97,0
69998,168.269,42.815,167.961,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0,0,0,0,0,1876,0.00,0.00,0.00,0

In [10]:
from sklearn.impute import SimpleImputer
imp_mean = SimpleImputer(missing_values=np.nan, strategy='median')
imp_mean.fit(data)
impute_data= pd.DataFrame(imp_mean.transform(data))
impute_data.columns= data.columns

In [11]:
impute_data

,arpu_6,arpu_7,arpu_8,onnet_mou_6,onnet_mou_7,onnet_mou_8,offnet_mou_6,offnet_mou_7,offnet_mou_8,roam_ic_mou_6,...,monthly_3g_7,monthly_3g_8,sachet_3g_6,sachet_3g_7,sachet_3g_8,aon,aug_vbc_3g,jul_vbc_3g,jun_vbc_3g,churn_probability
0,31.277,87.009,7.527,48.58,124.38,1.29,32.24,96.68,2.33,0.00,...,0.0,0.0,0.0,0.0,0.0,1958.0,0.00,0.00,0.00,0.0
1,0.000,122.787,42.953,0.00,0.00,0.00,0.00,25.99,30.89,0.00,...,1.0,0.0,0.0,0.0,0.0,710.0,0.00,0.00,0.00,0.0
2,60.806,103.176,0.000,0.53,15.93,0.00,53.99,82.05,0.00,0.00,...,0.0,0.0,0.0,0.0,0.0,882.0,0.00,0.00,0.00,0.0
3,156.362,205.260,111.095,7.26,16.01,0.00,68.76,78.48,50.23,0.00,...,0.0,0.0,0.0,0.0,0.0,982.0,0.00,0.00,0.00,0.0
4,240.708,128.191,101.565,21.28,4.83,6.13,56.99,38.11,9.63,53.64,...,0.0,0.0,0.0,1.0,0.0,647.0,0.00,0.00,0.00,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
69994,15.760,410.924,329.136,0.00,7.36,10.93,0.00,488.46,381.64,14.96,...,0.0,0.0,0.0,1.0,0.0,221.0,0.00,0.00,0.00,0.0
69995,160.083,289.129,265.772,116.54,196.46,232.63,49.53,96.28,48.06,0.00,...,0.0,0.0,0.0,0.0,0.0,712.0,0.00,0.00,0.00,0.0
69996,372.088,258.374,279.782,77.13,68.44,78.44,335.54,227.94,263.84,0.00,...,0.0,0.0,0.0,0.0,0.0,879.0,0.00,0.00,0.00,0.0
69997,238.575,245.414,145.062,14.01,7.64,6.71,30.34,16.68,12.56,25.06,...,1.0,1.0,0.0,0.0,0.0,277.0,664.25,1402.96,990.97,0.0
69998,168.269,42.815,167.961,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.0,0.0,0.0,0.0,0.0,1876.0,0.00,0.00,0.00,0.0

In [12]:
X= impute_data.loc[:, ~impute_data.columns.isin(['churn_probability'])]
y= impute_data.loc[:, impute_data.columns.isin(['churn_probability'])]

In [13]:
X.dropna()

,arpu_6,arpu_7,arpu_8,onnet_mou_6,onnet_mou_7,onnet_mou_8,offnet_mou_6,offnet_mou_7,offnet_mou_8,roam_ic_mou_6,...,monthly_3g_6,monthly_3g_7,monthly_3g_8,sachet_3g_6,sachet_3g_7,sachet_3g_8,aon,aug_vbc_3g,jul_vbc_3g,jun_vbc_3g
0,31.277,87.009,7.527,48.58,124.38,1.29,32.24,96.68,2.33,0.00,...,0.0,0.0,0.0,0.0,0.0,0.0,1958.0,0.00,0.00,0.00
1,0.000,122.787,42.953,0.00,0.00,0.00,0.00,25.99,30.89,0.00,...,0.0,1.0,0.0,0.0,0.0,0.0,710.0,0.00,0.00,0.00
2,60.806,103.176,0.000,0.53,15.93,0.00,53.99,82.05,0.00,0.00,...,0.0,0.0,0.0,0.0,0.0,0.0,882.0,0.00,0.00,0.00
3,156.362,205.260,111.095,7.26,16.01,0.00,68.76,78.48,50.23,0.00,...,0.0,0.0,0.0,0.0,0.0,0.0,982.0,0.00,0.00,0.00
4,240.708,128.191,101.565,21.28,4.83,6.13,56.99,38.11,9.63,53.64,...,0.0,0.0,0.0,0.0,1.0,0.0,647.0,0.00,0.00,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
69994,15.760,410.924,329.136,0.00,7.36,10.93,0.00,488.46,381.64,14.96,...,0.0,0.0,0.0,0.0,1.0,0.0,221.0,0.00,0.00,0.00
69995,160.083,289.129,265.772,116.54,196.46,232.63,49.53,96.28,48.06,0.00,...,0.0,0.0,0.0,0.0,0.0,0.0,712.0,0.00,0.00,0.00
69996,372.088,258.374,279.782,77.13,68.44,78.44,335.54,227.94,263.84,0.00,...,0.0,0.0,0.0,0.0,0.0,0.0,879.0,0.00,0.00,0.00
69997,238.575,245.414,145.062,14.01,7.64,6.71,30.34,16.68,12.56,25.06,...,1.0,1.0,1.0,0.0,0.0,0.0,277.0,664.25,1402.96,990.97
69998,168.269,42.815,167.961,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.0,0.0,0.0,0.0,0.0,0.0,1876.0,0.00,0.00,0.00

In [14]:
rfe = RFE(estimator=DecisionTreeClassifier(max_depth= 7), n_features_to_select=1)
rfe.fit(X, y)

RFE(estimator=DecisionTreeClassifier(max_depth=7), n_features_to_select=1)

In [15]:
rank= pd.DataFrame()

rank['column']= X.columns
rank['rfe_rank']= rfe.ranking_

In [16]:
rank= rank.sort_values(by= 'rfe_rank')

In [17]:
columns_to_use= rank['column'][:35]

In [18]:
columns_to_use= columns_to_use.values

In [19]:
columns_to_use

array(['total_ic_mou_8', 'vol_2g_mb_8', 'arpu_8', 'roam_og_mou_8',
       'last_day_rch_amt_8', 'std_og_mou_7', 'loc_ic_t2m_mou_8',
       'total_ic_mou_6', 'arpu_7', 'aon', 'total_og_mou_8',
       'total_rech_amt_8', 'vol_3g_mb_8', 'total_rech_num_8',
       'loc_ic_mou_8', 'total_rech_num_7', 'total_ic_mou_7',
       'roam_og_mou_7', 'loc_ic_mou_7', 'std_ic_mou_7', 'roam_ic_mou_8',
       'aug_vbc_3g', 'total_og_mou_6', 'loc_og_t2f_mou_8',
       'max_rech_amt_8', 'max_rech_amt_6', 'loc_ic_t2f_mou_6',
       'loc_ic_mou_6', 'last_day_rch_amt_7', 'std_ic_mou_6',
       'isd_og_mou_6', 'loc_og_t2f_mou_6', 'loc_og_mou_7', 'jul_vbc_3g',
       'loc_og_t2f_mou_7'], dtype=object)

In [23]:
rank.sort_values(by= 'rfe_rank')[:15]

                 column  rfe_rank
80       total_ic_mou_8         1
104         vol_2g_mb_8         2
2                arpu_8         3
14        roam_og_mou_8         4
101  last_day_rch_amt_8         5
40         std_og_mou_7         6
59     loc_ic_t2m_mou_8         7
78       total_ic_mou_6         8
1                arpu_7         9
120                 aon        10
53       total_og_mou_8        11
95     total_rech_amt_8        12
107         vol_3g_mb_8        13
92     total_rech_num_8        14
65         loc_ic_mou_8        15